.splash-screen {
    height: 95vh;
    padding: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom left, #ff8a00, #da1b60);

    h1 {
        font-size: 2em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}