body {
    background: #f2f2f2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    h1 { 
        color: #1a1a1a;
     }
}

.login-container {
    max-width: 768px;
    width: 100%;
    background: #f2f2f2;

    h1 {
         text-align: center;
         font-size: 1.5em;
         font-family: sans-serif;
     }
}

.login-btn {
    border: none;
    padding: 10px 15px;
    width: 100%;

    &--google {
        background: #e00;
        color: #fff;
    }

    &--facebook {
        background: #3B5998;
        color: #fff;
    }
}